page-schedule-details {
    ion-segment-button {
        height: 55px !important;
        border-color: lightgray !important;
        border-left-width: 0 !important;
        border-top-width: 0 !important;
        padding-top: 20px !important;
        font-size: 2rem !important;
        color: black !important;
    }

    ion-segment-button.segment-activated {
        border-bottom-width: 2px !important;
        border-bottom-color: #00c67a !important;
        background-color: rgba(219, 248, 228, 0.3) !important;
    }

    ion-segment {
        margin-top: -3px !important;
        margin-bottom: -2px !important;
    }

    ion-item > div {
        border-bottom: none !important;
        font-size: 1em !important;
    }

    ion-icon.icon {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    div.segment-div {
        border-bottom-style: groove !important;
        position: sticky !important;
        top: 0px !important;
        background-color: #fff !important;
        z-index: 9999999999999 !important;
    }

    ion-item.item-between {
        padding-left: 32px !important;
        padding-right: 25px !important;
    }

    button.button-next {
        margin: 0px !important;
        height: 25px !important;
        width: 25px !important;
    }

    ion-item.item-between:active {
        background-color: rgba(219, 248, 228, 0.534) !important;
    }

    ion-slides {
        height: unset !important;
    }

    button.date-time {
        right: 10px !important;
        position: absolute !important;
        top: 5px !important;
        height: auto !important;
        background-color: rgba(188, 215, 249, 0.7) !important;
        padding: 5px 10px !important;
    }
}
