<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.title}}</ion-title>
  </ion-navbar>
  
  <img src="{{selectedItem.img}}">
  <div class="segment-div">
    <ion-segment [(ngModel)]="selectedTabId" [style.width]="(tabList.length / 5 * 100) + '%'">
      <ion-segment-button
        *ngFor="let tab of tabList"
        value="{{tab.id}}">
        {{tab.title}}
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>
  <ng-container *ngFor="let tab of tabList">
    <ng-container *ngIf="tab.id === selectedTabId">
      <ng-container *ngFor="let detail of tab.detail_list; let i = index">
        <ion-item>
          <ion-avatar item-start>
              <button ion-fab color="secondary" (click)="clickMapIcon(detail)">
                <ion-icon name="{{detail.icon_name}}"></ion-icon>
              </button>
          </ion-avatar>
          <h2>{{detail.content}}</h2>
          <p>{{detail.date_time}}</p>
        </ion-item>
        <ion-item *ngIf="!!detail.trafic" class="item-between" (click)="clickRouteIcon(detail, tab.detail_list[i+1])">
          <ion-icon name="{{detail.trafic}}" class="icon" item-start></ion-icon>
          {{detail.time}}
          <button ion-fab color="dark" class="button-next" item-end>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-item>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>
