<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Currency - Converter</ion-title>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <ion-card *ngFor="let currency of selectedCurrencies">
        <ion-item [style.background-color]="editCurrency === currency.cd ? '#fbfbfb' : '#ebf5fd'">
            <ion-thumbnail item-start>
                <img src="{{flagImgSrc(currency.cd)}}">
            </ion-thumbnail>
            <h2>{{currency.cd}} {{currency.name}}</h2>
            <input type="number" 
                [(ngModel)]="currency.amount"
                (change)="changeAmount(currency)"
                (focus)="focusAmount(currency.cd)">
            <button ion-fab item-end
                *ngIf="currency.cd !== baseCurrency"
                class="button-eye"
                (click)="setToBase(currency)">
                <ion-icon name="eye"></ion-icon>
            </button>
        </ion-item>
    </ion-card>
    <!-- <ion-item class="add">
        <button ion-fab color="primary" (click)="clickAddButton()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-item> -->
    <ion-item class="add">
        <button ion-fab color="primary">
            <ion-icon name="add"></ion-icon>
        </button>
        <select-searchable
            item-content
            [(ngModel)]="addCurrencies"
            [items]="currencies"
            itemValueField="cd"
            itemTextField="name"
            [canSearch]="true"
            [isMultiple]="true"
            (onChange)="addCurrencyTo($event)"
            okButtonText="Add">
        </select-searchable>
    </ion-item>
</ion-content>