<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Currency</ion-title>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <ion-item *ngFor="let currency of selectedCurrencies">
        <h2>{{currency.cd}}</h2>
        <p>{{currency.rate}}</p>
        <input type="text" [(ngModel)]="currency.amount" (change)="changeAmount(currency)" item-end>
        <button *ngIf="currency.cd !== baseCurrency" (click)="setToBase(currency)" item-end>Base</button>
    </ion-item>
    <ion-item>
        <button (click)="selectANumber()">Add</button>
    </ion-item>
    <ion-item>
        <ion-label>Add Currency</ion-label>
        <ion-select [(ngModel)]="addCurrencies" multiple="true">
            <ion-option *ngFor="let c of currencies" value="c.cd">{{c.cd}} - {{c.name}}</ion-option>
        </ion-select>
    </ion-item>
</ion-content>