page-schedule {
    .card-background-page {

        button {
          position: relative !important;
          height: 80px !important;
          margin: 0 !important;
          width: 100% !important;
          box-shadow: none !important;
          padding-left: 40px !important;
          border-bottom: 1px #d8d8d8 solid !important;
          background-color: #fff;
        }

        button:active {
          background-color: rgba(219, 248, 228, 0.3) !important;
        }
      
        .card-title {
          position: absolute;
          top: 20px;
          font-size: 1.8em;
          width: 80vw;
          font-weight: bold;
        }
      
        .card-subtitle {
          font-size: 1em;
          position: absolute;
          bottom: 20px;
          width: 80vw;
        }
      
      }
}
